<!DOCTYPE html>
<html lang="en">
<head>
  Thai Knee App
</head>
<body>
  <% if (!username) { %>
    <form method="POST" action="/login">
    <label for="name">Login, bruh!</label>
    <input id="name" name="username" type="text" />
    <input type="submit" value="Login" />
  </form>
<% } else { %>
    <form method="POST" action="/logout">
    <label for="name">FOH</label>
    <input type="submit" value="Logout" />
  </form>
   Homie name : <%= username %>
<% } %>

</body>
</html>


