<!DOCTYPE html>
<html lang="en">
<head>
  Tiny App
</head>
</br>
<body>
    <% if (user) { %>
    Welcome: <%= user.email %>
    <form method="POST" action="/logout">
    <label for="name">Logout</label>
    <input type="submit" value="Logout"/>
  </form>
<% } else { %>
    <form method="POST" action="/login">
    <label for="name">Login!</label>
    <input id="username" name="email" type="email" placeholder="email" />
    <input id="password" name="password" type="password" placeholder="password" />
    <input type="submit" value="Login" />
    <a href="/register">Sign Up</a>
  </form>
<% } %>
</body>
</html>
