<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%- include partials/_header.ejs %>
</head>
<body>
  <h1>Edit your URL here my dude!</h1>
  <a href="/urls">Take me back to where I just was please</a>
  <h2>Edit URL</h2>

  <form method="POST" action="/urls/<%= shortURL %>">
    <label for="name">URL: </label>
      <input id="name" name="longURL" type="text" value="<%= shortURL %>" />
      <input type="submit" value="Update" />
  </form>
</body>
</html>
