<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header.ejs %>
</head>
<body>
  <ul>
      <% for(let key in urls) { %>
      <li><%= key %></li>
      <li><%= urls[key] %></li>
      <% } %>
  </ul>
  <a href="www.urlshorten.com">Shorten your URL today!!</a>
</body>
</html>



