<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header.ejs %>
</head>
<body>
  <p><%= shortURL %></p>
  <p><%= longURL %></p>
</body>
</html>


<!-- */ Create a new template file inside the views directory called urls_show.ejs.
Add a new route in express_server.js which you'll use to render this new template. Use the example below for what this will look like.
Fill out the urls_show.ejs template to display the following: The full URL and its shortened form. */
 -->